@tailwind base;
@tailwind components;
@tailwind utilities;

.gallery {

  width: 100%;
}

.row-photos {
  width: 100%;
  transform: scale(0.98);
  transition: all 0.2s;
  transition: 0.5s all;
}

.row-photos.active {
  background: rgba(255, 255, 255, 0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(0.97);
}

.row-photos>img {
  transform: translateX(0%);
  
}

.gallery::-webkit-scrollbar,
.row-photos::-webkit-scrollbar {
  display: none;
}
.profile-info{
  box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.17);
  -webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.17);
  -moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.17);
}

.tabs::after {
  content: '';
  height: 40px;
  width: 35px;
  position: absolute;
  right: 0;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(241,245,249,0.9780287114845938) 100%);

}

.tabs::-webkit-scrollbar {
  display: none;
}

.tabs :hover::-webkit-scrollbar {
  display: initial;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover-show {
  transition: 0.5s all;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 50px !important;
  filter: grayscale(50%);
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@layer components {
  .topic {
    @apply bg-white text-sm px-4 py-2 border border-gray-300 mx-2 rounded-full hover:cursor-pointer xxs:m-1;
  }

  .topics {
    @apply flex items-center justify-center my-4;
    @apply xxs:flex-row xxs:flex-wrap;
  }
}

@keyframes slider {
  from {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}